<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Genesis</title>
	{% include 'core/includes/css_general.html'%}


</head>
<body style="@estilo" >
	
	<!--  LOGO, MENU Y BUSQUEDA -->

	<main class="base">
		<!-- Container mas externo -->
		<div class="container-fluid container-externo">
			<div class="row fila-externa">
				<div class="col columna-externa">
					<!-- Fila que contiene el encabezado, el cuerpo y el pie de la pagina -->
					<div class="row fila-encabezado">
						<div class="col columna-encabezado">
							<!-- Fila del encabezado izquierda, centro y derecha -->
							<div class="row fila-enizcede">
								<div class="col-12 d-none d-md-block col-md-@numerocolumnaenizquierda columna-enizquierda"></div>
								<div class="col-12 col-md-@numerocolumnaencentro columna-encentro">
									<div class="row fila-lotilo">
										<div class="col-@numerocolumnalogo columna-logo">
											@logo
										</div>
										<div class="col-@numerocolumnatitulo columna-titulo">
											@titulo
										</div>
										<div class="col-@numerocolumnalogin columna-login">
											<!-- Personalizar seccion -->
										</div>
									</div>
								</div>
								<div class="col-12 d-none d-md-block col-md-@numerocolumnaenderecha columna-enderecha"></div>
							</div>
							<!-- Fila busqueda, menu -->
							<div class="row fila-bume">
								<div class="col-12 col-md-@numerocolumnabusqueda columna-busqueda">
@busqueda
								</div>
								<div class="col-12 col-md-@numerocolumnamenu columna-menu">
									{% if opcion_menu == 'aplicaciones' %}
										<!-- Lista opciones de aplicaciones -->
@menu_aplicaciones
									{% else %}
										<!-- Opcion de Modelos -->
@menu_modelos										
									{% endif %}
@seguridad									
								</div>
							</div>
						</div>
					</div>
					{% if pagina == 'principal' %}
						<!-- Personalza principal -->
					{% else %}
						<div class="row fila-medio">
							<div class="col-@numerocolumnamedioizquierda columna-medioizquierda">
								<!-- Personaliza medio izquierda -->
							</div>
							<div class="col-@numerocolumnamediocentro columna-mediocentro">
								{% block cuerpo %}{% endblock %}
							</div>
							<div class="col-@numerocolumnamedioderecha columna-medioderecha">
								<!-- Personaliza medio derecha -->
							</div>
						</div>
					{% endif %}
					<div class="row fila-pie">
						<div class="col columna-pie">
							<!-- Personaliza pie -->
						</div>
					</div>
				</div>
			</div>
		</div>
		

	</main>

	{% include 'core/includes/js_general.html'%}

</body>
</html>