<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Genesis</title>
	{% include 'core/includes/css_general.html'%}


</head>
<body style="@estilo" >
	
	<!--  LOGO, MENU Y BUSQUEDA -->

	<main class="base">
		<!-- Container mas externo -->
		<div class="container-fluid container-externo">
			<div class="row fila-externa">
				<div class="col columna-externa">
					<!-- Container que contiene el encabezado, el cuerpo y el pie de la pagina -->
					<div class="container container-encupi">
						<div class="row fila-encabezado">
							<div class="col columna-encabezado">
								<!-- Container del encabezado izquierda, centro y derecha -->
								<div class="container container-enizcede">
									<div class="row fila-enizcede">
										<div class="col-12 d-none d-md-block col-md-@colenizquierda columna-enizquierda"></div>
										<div class="col-12 col-md-@colencentro columna-encentro">
											<div class="container container-lotilo">
												<div class="row fila-lotilo">
													<div class="col-@collogo columna-logo">
														@logo
													</div>
													<div class="col-@coltitulo columna-titulo">
														@titulo
													</div>
													<div class="col-@collogin columna-login">
														<!-- Personalizar seccion -->
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 d-none d-md-block col-md-@colenderecha columna-enderecha"></div>
									</div>
								</div>
								<!-- Container busqueda, menu -->
								<div class="container container-bume">
									<div class="row fila-bume">
										{% if conbusqueda %}
											<div class="col-12 col-md_@busqueda columna-busqueda">
												<div class="row no-gutters d-flex align-items-center">
													<div class="col-10">
														<input type="text" id="textob" name='textob' placeholder="Datos del nombre o descripcion">
													</div>
													<div class="col-2 ">
														<a href="" id="link-busqueda" class="btn btn-white" ><i class="icon-search"></i></a>
													</div>
												</div>
											</div>
										{% endif %}
										<div class="col-12 col-md-@menu columna-menu">
											{% if aplicaciones %}
												<!-- Lista opciones de aplicaciones -->
											{% elif modelo %}
												<!-- Lista opciones del modelo Padre -->
											{% else %}
												<!-- Opcion de Aplicaciones -->
											{% endif %}
											{% if conseguridad %}
												{% if not request.user.is_authenticated %}
													<a href="{% url 'registration:registro' %}"><i class="icon-user-plus"></i><span>Registro</span></a>
													<a href="{% url 'login' %}"><i class="icon-login"></i><span>Login</span></a>
												{% else %}
													<a href="{% url 'registration:profile' %}"><i class="icon-user"></i><span>Perfil</span></a>
													<a href="{% url 'logout' %}"><i class="icon-logout"></i><span>Logout</span></a>
												{% endif %}
											{% endif %}
											
										</div>
									</div>
								</div>
							</div>
						</div>
						{% if pagina == 'principal' %}
							<!-- Personalza principal -->
						{% else %}
							<div class="row fila-medio">
								<div class="col columna-medio-izquierda">
									<!-- Personaliza medio izquierda -->
								</div>
								<div class="col columna-medio-centro">
									{% block cuerpo %}{% endblock %}
								</div>
								<div class="col columna-medio-derecha">
									<!-- Personaliza medio derecha -->
								</div>
							</div>
						{% endif %}
						<div class="row fila-pie">
							<div class="col columna-pie">
								<!-- Personaliza pie -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

	</main>

	{% include 'core/includes/js_general.html'%}

</body>
</html>