<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Genesis</title>
	{% include 'core/includes/css_general.html'%}

<!-- #@[p_base_01] -->

</head>
<body style="@estilo" >
	
	<!--  LOGO, MENU Y BUSQUEDA -->

<!-- #@[p_base_02] -->

	<main class="container">
		<div class="row fila-enizcede">
<!-- #@[p_base_03] -->
			<div class="col-12 d-none d-md-block col-md-@numerocolumnaenizquierda columna-enizquierda"></div>
<!-- #@[p_base_04] -->
			<div class="col-12 d-none d-md-block col-md-@numerocolumnalogo columna-logo">
				<div class="columna-logo d-flex @justificacionlogohorizontal @justificacionlogovertical">
					@logo
				</div>
			</div>
<!-- #@[p_base_05] -->
			<div class="col-12 col-md-@numerocolumnatitulo columna-titulo">
				<div class="columna-titulo d-flex @justificaciontitulohorizontal @justificaciontitulovertical">
					@titulo
				</div>
			</div>
<!-- #@[p_base_06] -->
			<div class="col-12 d-none d-md-block col-md-@numerocolumnalogin columna-login"></div>
<!-- #@[p_base_07] -->
			<div class="col-12 d-none d-md-block col-md-@numerocolumnaenderecha columna-enderecha"></div>
		</div>
<!-- #@[p_base_08] -->
		<div class="row fila-bume">
			<div class="col-@numerocolumnabumeizquierda d-none d-md-block col-md-@numerocolumnabumeizquierda columna-bume-izquierda"></div>
<!-- #@[p_base_09] -->

<!-- #@[p_base_10] -->
@busqueda
<!-- #@[p_base_11] -->

<!-- #@[p_base_12] -->
			<div class="col-12 col-md-@numerocolumnamenu col-sm-@numerocolumnamenu col-lg-@numerocolumnamenu order-1 order-sm-2 justify-content-between d-flex align-items-center columna-menu">
				{% block menu %}{% endblock %}
			</div>
<!-- #@[p_base_13] -->
			<div class="col-@numerocolumnabumederecha d-none d-md-block col-md-@numerocolumnabumederecha columna-bume-derecha"></div>
		</div>
<!-- #@[p_base_14] -->
		<div class="row fila-medio mt-3">
<!-- #@[p_base_15] -->
			<div class="col-@numerocolumnamedioizquierda columna-medioizquierda">
				<!-- Personaliza medio izquierda -->
			</div>
<!-- #@[p_base_16] -->
			<div class="col-@numerocolumnamediocentro columna-mediocentro mt-4">
				{% block cuerpo %}{% endblock %}
			</div>
<!-- #@[p_base_17] -->
			<div class="col-@numerocolumnamedioderecha columna-medioderecha">
				<!-- Personaliza medio derecha -->
			</div>
		</div>
<!-- #@[p_base_18] -->
		<div class="row fila-pie mt-4">
			<div class="col columna-pie"></div>
		</div>
<!-- #@[p_base_19] -->
	</main>
<!-- #@[p_base_20] -->

<!-- #@[p_base_21] -->

	{% include 'core/includes/js_general.html'%}

</body>
<!-- #@[p_base_22] -->

</html>

<!-- #@[p_base_23] -->
