{% load static %}

<!-- #@[p_menu_aplicacion_01] -->
<!-- <div class="container d-flex @justificacion"> -->
<div class="container">
	<div class="row">
<!-- #@[p_menu_aplicacion_02] -->
		<div class="col-@columnas_opciones">
<!-- #@[p_menu_aplicacion_03] -->
			<a href="{% url 'core:home' %}">
				<img src="{% static 'core/img/volver.png' %}" width="20px" height="20px" alt="">
				<span class="opcionmenu">Volver</span>
			</a>
<!-- #@[p_menu_aplicacion_04] -->
@opciones			
<!-- #@[p_menu_aplicacion_05] -->
		</div>
<!-- #@[p_menu_aplicacion_06] -->
		<div class="col-@columnas_seguridad">
<!-- #@[p_menu_aplicacion_07] -->
@seguridad			
<!-- #@[p_menu_aplicacion_08] -->
		</div>
<!-- #@[p_menu_aplicacion_09] -->
	</div>
</div>
<!-- #@[p_menu_aplicacion_10] -->
