{% extends 'core/base.html' %}

{% block menu %}
  {% include 'core/includes/menu_@aplicacion.html'%}
{% endblock %}

<!-- #@[p_modelo_update_contiguo_01] -->
/*#@[p_modelo_inserta_@modelo_01]*/}

{% block cuerpo %}

{% load static %}

<!-- #@[p_modelo_update_contiguo_02] -->

  <div class="container update-@modelo">
    <!-- Titulo de la insercion -->
    <div class="row fila-titulo-update d-flex ">
<!-- #@[p_modelo_update_contiguo_03] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaupdate"></div>
<!-- #@[p_modelo_update_contiguo_04] -->
      <div class="col-12 d-flex col-md-@numerocolumnasmodeloupdate @justificacionhorizontaltituloupdate @justificacionverticaltituloupdate titulo-update">
<!-- #@[p_modelo_update_contiguo_05] -->
        @tituloupdate
<!-- #@[p_modelo_update_contiguo_06] -->
      </div>
<!-- #@[p_modelo_update_contiguo_07] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaupdate"></div>
    </div>
<!-- #@[p_modelo_update_contiguo_08] -->

<!-- #@[p_modelo_borra_error_01] -->
    {% if form.errors %}
<!-- #@[p_modelo_borra_error_02] -->
      <ul class="user-msg error">
<!-- #@[p_modelo_borra_error_03] -->
        {% for field in form %}
<!-- #@[p_modelo_borra_error_04] -->
          {% for error in field.errors %}
<!-- #@[p_modelo_borra_error_05] -->
            <li>
<!-- #@[p_modelo_borra_error_06] -->
              {% if field != '__all__' %}
<!-- #@[p_modelo_borra_error_07] -->
                <strong>Error en el control: {{ field.label }}:</strong>
<!-- #@[p_modelo_borra_error_08] -->
              {% endif %}
<!-- #@[p_modelo_borra_error_09] -->
              {{ error }}
<!-- #@[p_modelo_borra_error_10] -->
            </li>
<!-- #@[p_modelo_borra_error_11] -->
          {% endfor %}
<!-- #@[p_modelo_borra_error_12] -->
        {% endfor %}
<!-- #@[p_modelo_borra_error_13] -->
      </ul>
<!-- #@[p_modelo_borra_error_14] -->
    {% endif %}
<!-- #@[p_modelo_borra_error_15] -->

<!--     {% if form.errors %}
      <ol>
        {% for error in form.errors %}
          <li class="color_error"><strong>Error en el campo : {{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
    {% endif %} -->

    <!-- Comentario de la insercion -->
    <div class="row fila-comentario-update d-flex align-items-center">
<!-- #@[p_modelo_update_contiguo_09] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaupdate"></div>
<!-- #@[p_modelo_update_contiguo_10] -->
      <div class="col-12 col-md-@numerocolumnasmodeloupdate columna-comentario-update">
<!-- #@[p_modelo_update_contiguo_11] -->
        <span class="comentario-update">
<!-- #@[p_modelo_update_contiguo_12] -->
          @comentarioupdate
<!-- #@[p_modelo_update_contiguo_13] -->
        </span>
<!-- #@[p_modelo_update_contiguo_14] -->
      </div>
<!-- #@[p_modelo_update_contiguo_15] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaupdate"></div>
<!-- #@[p_modelo_update_contiguo_16] -->
    </div>
    <!-- Cuerpo de datos -->
<!-- #@[p_modelo_update_contiguo_17] -->
    <div class="row fila-datos-update d-flex">
<!-- #@[p_modelo_update_contiguo_18] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaupdate"></div>
<!-- #@[p_modelo_update_contiguo_19] -->
      <div class="col-12 col-md-@numerocolumnasmodeloupdate border rounded">
<!-- #@[p_modelo_update_contiguo_20] -->
        <form action="" method="post" enctype="multipart/form-data" id="@modeloForm" @loaddata>
          {% csrf_token %}
          {% if not form.errors %}
          {% if 'correcto' in request.GET %}
            <p style="color:red;">(Registro modificado correctamente)</p>
          {% endif %}
          {% endif %}
<!-- #@[p_modelo_update_contiguo_21] -->
          <div class="row">
<!-- #@[p_modelo_update_contiguo_22] -->
            <div class="col">
<!-- #@[p_modelo_update_contiguo_23] -->
              {% if form.non_field_errors %}
<!-- #@[p_modelo_update_contiguo_24] -->
                <ol>
<!-- #@[p_modelo_update_contiguo_25] -->
                  {% for error in form.non_field_errors %}
<!-- #@[p_modelo_update_contiguo_26] -->
                    <li class="color_error"><strong>{{ error|escape }}</strong></li>
<!-- #@[p_modelo_update_contiguo_27] -->
                  {% endfor %}
<!-- #@[p_modelo_update_contiguo_28] -->
                </ol>
<!-- #@[p_modelo_update_contiguo_29] -->
              {% endif %}
<!-- #@[p_modelo_update_contiguo_30] -->
            </div>
<!-- #@[p_modelo_update_contiguo_31] -->
          </div>
<!-- #@[p_modelo_update_contiguo_32] -->
          <div class="row mt-4">
<!-- #@[p_modelo_update_contiguo_33] -->
            <div class="col">
<!-- #@[p_modelo_update_contiguo_34] -->
@controles
<!-- #@[p_modelo_update_contiguo_35] -->
            </div>
<!-- #@[p_modelo_update_contiguo_36] -->
          </div>
<!-- #@[p_modelo_update_contiguo_37] -->
          <div class="row fila-boton-update mt-3 mb-3">
<!-- #@[p_modelo_update_contiguo_38] -->
            <div class="col">
<!-- #@[p_modelo_update_contiguo_39] -->
                <input type="submit" class="btn btn-primary btn-block mt-3 boton-update" value="Grabar @modelo" />
<!-- #@[p_modelo_update_contiguo_40] -->
            </div>
<!-- #@[p_modelo_update_contiguo_41] -->
          </div>
<!-- #@[p_modelo_update_contiguo_42] -->
        </form>               
<!-- #@[p_modelo_update_contiguo_43] -->
      </div>
<!-- #@[p_modelo_update_contiguo_44] -->
      <div class="col-12 col-md-@numerocolumnashijosupdate  ">
        <!-- Hijos -->
<!-- #@[p_modelo_update_contiguo_45] -->
@listahijos
<!-- #@[p_modelo_update_contiguo_46] -->
      </div>
<!-- #@[p_modelo_update_contiguo_47] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaupdate"></div>
<!-- #@[p_modelo_update_contiguo_48] -->
    </div>
<!-- #@[p_modelo_update_contiguo_49] -->
    <!-- Pie de insercion -->
<!-- #@[p_modelo_update_contiguo_50] -->
    <div class="row pie-lista">
<!-- #@[p_modelo_update_contiguo_51] -->
    </div>
  </div>
<!-- </main> -->
<!-- #@[p_modelo_update_contiguo_52] -->

@ajaxhijo
<!-- #@[p_modelo_update_contiguo_53] -->

{% endblock %}

<!-- #@[p_modelo_update_contiguo_54] -->

