{% extends 'core/base.html' %}

{% block menu %}
  {% include 'core/includes/menu_@aplicacion.html'%}
{% endblock %}

{% block cuerpo %}

{% load static %}

  <div class="container update-@modelo">
    <!-- Titulo de la insercion -->
    <div class="row fila-titulo-update d-flex align-items-center">
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaupdate"></div>
      <div class="col-12 d-flex col-md-@numerocolumnasmodeloupdate @justificacionhorizontaltituloupdate @justificacionverticaltituloupdate titulo-update">
        @tituloupdate
      </div>
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaupdate"></div>
    </div>

    {% if error %}
<!-- #@[p_modelo_update_error_01] -->
      <div class="row fila-comentario-inserta d-flex align-items-center">
<!-- #@[p_modelo_inserta_error_02] -->
        <div class="col-12 d-none d-md-block col-md-1"></div>
<!-- #@[p_modelo_update_error_03] -->
        <div class="col-12 col-md-10 columna-comentario-inserta">
<!-- #@[p_modelo_update_error_04] -->
          <span class="comentario-inserta">
<!-- #@[p_modelo_update_error_05] -->
            <li class="color_error"><strong>{{ error|escape }}</strong></li>
<!-- #@[p_modelo_update_error_06] -->
          </span>
<!-- #@[p_modelo_update_error_07] -->
        </div>
<!-- #@[p_modelo_update_error_08] -->
        <div class="col-12 d-none d-md-block col-md-1"></div>
<!-- #@[p_modelo_update_error_09] -->
      </div>      
<!-- #@[p_modelo_update_error_10] -->
    {% endif %}

    <!-- Comentario de la insercion -->
    <div class="row fila-comentario-update d-flex align-items-center">
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaupdate"></div>
      <div class="col-12 col-md-@numerocolumnasmodeloupdate columna-comentario-update">
        <span class="comentario-update">
          @comentarioupdate
        </span>
      </div>
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaupdate"></div>
    </div>
    <!-- Cuerpo de datos -->
    <div class="row fila-datos-update d-flex align-items-center">
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaupdate"></div>
      <div class="col-12 col-md-@numerocolumnasmodeloupdate">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              {% if form.non_field_errors %}
                <ol>
                  {% for error in form.non_field_errors %}
                    <li class="color_error"><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ol>
              {% endif %}
            </div>
          </div>
          <div class="row mt-4">
            <div class="col font-label-@modelo">
@controles
            </div>
          </div>
          <div class="row fila-boton-update mt-3 mb-3">
            <div class="col">
                <input type="submit" class="btn btn-primary btn-block mt-3 boton-update" value="Grabar @modelo" />
            </div>
          </div>
        </form>               
      </div>
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaupdate"></div>

@update

{% endblock %}
