                    strlh = "    <div class=" + '"' + "border rounded mb-3" + '"' + " style=" + '"' + "padding: 5px;" + '"' + ">" + "\n"
                    strlh += "<!-- #@[p_hijo_@hijo_01] -->" + "\n"
                    strlh += '       <div class="container-fluid lista-@hijo mb-3">' + '\n'
                    strlh += '           <div class="row mt-2 mb-2 fila-titulo-lista-@hijo ">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_02] -->" + "\n"
                    strlh += '               <div class="col @justificacionverticaltitulolista @justificacionhorizontaltitulolista @uppercasetitulo">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_03] -->" + "\n"
                    strlh += '                   <span class="titulo-lista-@hijo">' + '\n'
                    strlh += '                       @titulolista</span>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_04] -->" + "\n"
                    strlh += '                   </span>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_05] -->" + "\n"
                    strlh += '               </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_06] -->" + "\n"
                    strlh += '           </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_07] -->" + "\n"
                    strlh += '           <div class="row mt-2 mb-2 fila-comentario-lista-@hijo ">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_08] -->" + "\n"
                    strlh += '               <div class="col @justificacionverticalcomentariolista @justificacionhorizontalcomentariolista @uppercasecomentario">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_09] -->" + "\n"
                    strlh += '                   <span class="comentario-lista-@hijo">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_10] -->" + "\n"
                    strlh += '                       @comentariolista' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_11] -->" + "\n"
                    strlh += '                   </span>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_12] -->" + "\n"
                    strlh += '               </div>' + '\n'
                    strlh += '           </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_13] -->" + "\n"
                    strlh += '           <div class="row fila-columnas-@hijo @uppercasecolumnas" >' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_14] -->" + "\n"
                    strlh += '               {% if numero' + modelohijo.nombre + ' > 0 %}' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_15] -->" + "\n"
                    strlh += '@columnashijo' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_16] -->" + "\n"
                    strlh += '               {% endif %}' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_17] -->" + "\n"
                    strlh += '           </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_18] -->" + "\n"
                    strlh += '           {% for objeto in lista@hijo %}' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_19] -->" + "\n"
                    strlh += '           <div class="row  fila-datos-@hijo" >' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_20] -->" + "\n"
                    strlh += '@listaregistroshijo' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_21] -->" + "\n"
                    strlh += '               <div class="col-@restocolumnas">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_22] -->" + "\n"
                    strlh += '               </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_23] -->" + "\n"
                    strlh += '               <div class="col-1 mt-1 edita-@hijo">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_24] -->" + "\n"
                    strlh += '@editahijo' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_25] -->" + "\n"
                    strlh += '               </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_26] -->" + "\n"
                    strlh += '               <div class="col-1 ml-2 mt-1 borra-@hijo">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_27] -->" + "\n"
                    strlh += '                  @borrahijo' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_28] -->" + "\n"
                    strlh += '               </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_29] -->" + "\n"
                    strlh += '               <div class="col-1">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_30] -->" + "\n"
                    strlh += '               </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_31] -->" + "\n"
                    strlh += '           </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_32] -->" + "\n"
                    strlh += '           {% endfor %}' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_33] -->" + "\n"
                    strlh += '       <div class="row mt-3 mb-3 fila-nuevo-@hijo">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_34] -->" + "\n"
                    strlh += '           <div class="col">' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_35] -->" + "\n"
                    strlh += '               <a class="@linknuevomodelo mt-2" href="{% url ' + "'" + '@aplicacionhijo:crear_@hijo' + "'" + '%}?@modelopadre_id={{ @modelopadre.id }}">@textolinknuevomodelo</a>' + '\n' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_36] -->" + "\n"
                    strlh += '           </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_37] -->" + "\n"
                    strlh += '       </div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_38] -->" + "\n"
                    strlh += '    </div>' + '\n'
                    strlh += '</div>' + '\n'
                    strlh += "<!-- #@[p_hijo_@hijo_39] -->" + "\n"
