{% extends 'core/base.html' %}

{% block menu %}
  {% include 'core/includes/menu_@aplicacion.html'%}
{% endblock %}

<!-- #@[p_modelo_confirm_delete_01] -->

{% block cuerpo %}

<!-- #@[p_modelo_confirm_delete_02] -->
{% load static %}

  <div class="container borra-@modelo">
    <!-- Titulo de la insercion -->
    <div class="row fila-titulo-borra d-flex align-items-center">
<!-- #@[p_modelo_confirm_delete_03] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaborra"></div>
<!-- #@[p_modelo_confirm_delete_04] -->
      <div class="col-12 d-flex col-md-@numerocolumnasmodeloborra @justificacionhorizontaltituloborra @justificacionverticaltituloborra titulo-borra">
<!-- #@[p_modelo_confirm_delete_05] -->
        @tituloborra
<!-- #@[p_modelo_confirm_delete_06] -->
      </div>
<!-- #@[p_modelo_confirm_delete_07] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaborra"></div>
<!-- #@[p_modelo_confirm_delete_08] -->
    </div>

<!-- #@[p_modelo_borra_error_01] -->
    {% if form.errors %}
<!-- #@[p_modelo_borra_error_02] -->
      <ul class="user-msg error">
<!-- #@[p_modelo_borra_error_03] -->
        {% for field in form %}
<!-- #@[p_modelo_borra_error_04] -->
          {% for error in field.errors %}
<!-- #@[p_modelo_borra_error_05] -->
            <li>
<!-- #@[p_modelo_borra_error_06] -->
              {% if field != '__all__' %}
<!-- #@[p_modelo_borra_error_07] -->
                <strong>Error en el control: {{ field.label }}:</strong>
<!-- #@[p_modelo_borra_error_08] -->
              {% endif %}
<!-- #@[p_modelo_borra_error_09] -->
              {{ error }}
<!-- #@[p_modelo_borra_error_10] -->
            </li>
<!-- #@[p_modelo_borra_error_11] -->
          {% endfor %}
<!-- #@[p_modelo_borra_error_12] -->
        {% endfor %}
<!-- #@[p_modelo_borra_error_13] -->
      </ul>
<!-- #@[p_modelo_borra_error_14] -->
    {% endif %}
<!-- #@[p_modelo_borra_error_15] -->

<!--     {% if form.errors %}
      <ol>
        {% for error in form.errors %}
          <li class="color_error"><strong>Error en el campo : {{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
    {% endif %} -->
    
    <!-- Comentario del borrado -->
<!-- #@[p_modelo_confirm_delete_09] -->
    <div class="row fila-comentario-borra d-flex align-items-center mb-3">
<!-- #@[p_modelo_confirm_delete_10] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaborra"></div>
<!-- #@[p_modelo_confirm_delete_11] -->
      <div class="col-12 col-md-@numerocolumnasmodeloborra columna-comentario-borra">
<!-- #@[p_modelo_confirm_delete_12] -->
        <span class="comentario-borra">
<!-- #@[p_modelo_confirm_delete_13] -->
          @comentarioborra
<!-- #@[p_modelo_confirm_delete_14] -->
        </span>
<!-- #@[p_modelo_confirm_delete_15] -->
      </div>
<!-- #@[p_modelo_confirm_delete_16] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaborra"></div>
<!-- #@[p_modelo_confirm_delete_17] -->
    </div>
    <!-- Texto del borrado -->
<!-- #@[p_modelo_confirm_delete_18] -->
    <div class="row fila-texto-borra d-flex align-items-center">
<!-- #@[p_modelo_confirm_delete_19] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaborra"></div>
<!-- #@[p_modelo_confirm_delete_20] -->
      <div class="col-12 col-md-@numerocolumnasmodeloborra">
<!-- #@[p_modelo_confirm_delete_21] -->
        <span class="texto-borra">
<!-- #@[p_modelo_confirm_delete_22] -->
          @textoborra&nbsp&nbsp<b style="color:black">{{nombreborrar}}</b>&nbsp?
<!-- #@[p_modelo_confirm_delete_23] -->
        </span>
<!-- #@[p_modelo_confirm_delete_24] -->
      </div>
<!-- #@[p_modelo_confirm_delete_25] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaborra"></div>
<!-- #@[p_modelo_confirm_delete_26] -->
    </div>
<!-- #@[p_modelo_confirm_delete_27] -->
    <!-- Cuerpo de datos -->
<!-- #@[p_modelo_confirm_delete_28] -->
    <div class="row fila-datos-borra d-flex align-items-center">
<!-- #@[p_modelo_confirm_delete_29] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasizquierdaborra"></div>
<!-- #@[p_modelo_confirm_delete_30] -->
      <div class="col-12 col-md-@numerocolumnasmodeloborra">
<!-- #@[p_modelo_confirm_delete_31] -->
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
<!-- #@[p_modelo_confirm_delete_32] -->
          <div class="row">
<!-- #@[p_modelo_confirm_delete_33] -->
            <div class="col">
<!-- #@[p_modelo_confirm_delete_34] -->
              {% if form.non_field_errors %}
<!-- #@[p_modelo_confirm_delete_35] -->
                <ol>
<!-- #@[p_modelo_confirm_delete_36] -->
                  {% for error in form.non_field_errors %}
<!-- #@[p_modelo_confirm_delete_37] -->
                    <li class="color_error"><strong>{{ error|escape }}</strong></li>
<!-- #@[p_modelo_confirm_delete_38] -->
                  {% endfor %}
<!-- #@[p_modelo_confirm_delete_39] -->
                </ol>
<!-- #@[p_modelo_confirm_delete_40] -->
              {% endif %}
<!-- #@[p_modelo_confirm_delete_41] -->
            </div>
<!-- #@[p_modelo_confirm_delete_42] -->
          </div>
<!-- #@[p_modelo_confirm_delete_43] -->
          <div class="row mt-4 mb-4">
<!-- #@[p_modelo_confirm_delete_44] -->
            <div class="col">
<!-- #@[p_modelo_confirm_delete_45] -->
              <input class="btn btn-primary" style="display:inline-block;padding:7px 10px;line-height:140%;" type="submit" value="@textobotonborrado" />
<!-- #@[p_modelo_confirm_delete_46] -->
            </div>
<!-- #@[p_modelo_confirm_delete_47] -->
            <div class="col-2 ml-5 ">
<!-- #@[p_modelo_confirm_delete_48] -->
              @cancelaborrado
<!-- #@[p_modelo_confirm_delete_49] -->
            </div>            
<!-- #@[p_modelo_confirm_delete_50] -->
          </div>
<!-- #@[p_modelo_confirm_delete_51] -->
        </form>               
<!-- #@[p_modelo_confirm_delete_52] -->
      </div>
<!-- #@[p_modelo_confirm_delete_53] -->
      <div class="col-12 d-none d-md-block col-md-@numerocolumnasderechaborra"></div>
<!-- #@[p_modelo_confirm_delete_54] -->
    </div>
    <!-- Pie de insercion -->
<!-- #@[p_modelo_confirm_delete_55] -->
    <div class="row pie-lista">
<!-- #@[p_modelo_confirm_delete_56] -->
      
    </div>
<!-- #@[p_modelo_confirm_delete_57] -->
  </div>
<!-- </main> -->
<!-- #@[p_modelo_confirm_delete_58] -->

{% endblock %}

<!-- #@[p_modelo_confirm_delete_59] -->
